<ion-content padding>
  <ion-card>
    <img src="assets/img/selective-myopia-2084175_1920.jpg"/>
  </ion-card>
  <div *ngIf="!firstOK">
    <p>
      A próxima questão é sobre a existência ou não de miopia em grau elevado, e para efeito do cálculo de risco aqui usado, apenas o grau citado deve ser considerado.
      <br />
      <br />
      Graus abaixo da definição que aplicamos, que não é igual em todo o mundo, mas próxima, não devem levar o usuário a marcar como se fosse alta uma miopia, de por exemplo, quatro graus.
    </p>
  </div>
  <div *ngIf="firstOK">
    <p>
        <strong>Atenção:</strong>
        <br /> a alta miopia recebe esta definição quando os graus são iguais ou superiores a quatro dioptrias, mas em outros sistemas de classificação apenas a partir de <strong>cinco graus - ou cinco dioptrias (D)</strong>. A consulta ao seu prontuário ou à prescrição de óculos pode lhe ser útil. O termo miopia degenerativa pode ser usado no lugar de “alta miopia”. 
        <br/><br/><strong>Importante</strong> mesmo que use tenha realizado cirurgia para miopia, tenha “zerado o grau” e não mais tenha necessidade de qualquer correção visual (lentes de contato ou óculos, etc.), uma vez alto míope, sempre o será: portanto, assinale a opção no(s) olho(s) correspondente(s), isto é relevante!
    </p> 
  </div>
  <button ion-button center block (click)="close()">OK</button>    
</ion-content>
