<ion-content padding>
  <ion-card>
    <img src="assets/img/img-teste.png"/>
  </ion-card>
  <div *ngIf="!firstOK">
    <p>
      A próxima questão é sobre a existência ou não de miopia em grau elevado, e para efeito do cálculo de risco aqui usado, apenas o grau citado deve ser considerado.
      <br />
      <br />
      Graus abaixo da definição que aplicamos, que não é igual em todo o mundo, mas próxima, não devem levar o usuário a marcar como se fosse alta uma miopia, de por exemplo, quatro graus.
    </p>
  </div>
  <div *ngIf="firstOK">
    <p>
        <strong>Atenção:</strong> a alta miopia aqui considerada é a miopia de <strong>cinco graus</strong> ou acima. A consulta ao seu prontuário ou à prescrição de óculos pode lhe ser útil. O termo miopia degenerativa pode ser usado no lugar de “alta miopia”. <strong>Importante</strong> mesmo que use tenha realizado cirurgia para miopia, tenha “zerado o grau” e não mais tenha necessidade de qualquer correção visual (lentes de contato ou óculos, etc.), uma vez alto míope, sempre o será: portanto, assinale a opção no(s) olho(s) correspondente(s), isto é relevante!
    </p>
  </div>
  <button ion-button center block (click)="close()">OK</button>    
</ion-content>
