<ion-content padding>
    <ion-card>
      <img src="assets/img/img-teste.png"/>
    </ion-card>
    <div *ngIf="!firstOK">
      <p>
          A próxima questão requer informação sobre uso de colírio ou comprimido cuja formulação contenha algum corticosteróide.
        <br />
        É grande a quantidade de preparados vendidos com este fármaco, e resta a cada um identificar se este composto está presente entre os que já usou.
        <br />
        É um conhecimento importante para você, pois ele pode estar por trás de outros problemas de saúde, embora seja essencial no tratamento de algumas doenças.
        <br />
        Vale a pena esta busca!
      </p>
    </div>
    <div *ngIf="firstOK">
      <p>
          <strong>Atenção:</strong> <br />(a) assinale a opção <strong>uso de colírio com corticóide em OD ou OE</strong> apenas no caso de uso diário, ao menos duas vezes ao dia, contínuo, no período de tempo especificado. Para saber se o colírio contém corticóide, procure na bula do mesmo esta informação,ou na internet. No Brasil, são comuns, dentre outros: DECADRON, FLORATE, FLUMEX, GENTACORT, MAXIDEX,MAXITROL, POLIPRED, PRED FORT. <br />(b)<strong> o uso oral de corticóide</strong>, como a PREDNISONA ou PREDNISOLONA, <strong>nos mesmos períodos</strong>, deverá gerar marcação em ambos os olhos.
      </p>
    </div>
    <button ion-button center block (click)="close()">OK</button>    
  </ion-content>
  